.text-center {
    color: #1A5276;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}
.col-md-6 {
    left: 25%;
    right: 25%;
    margin-top: 60px;
}
.title1{
   font-size: large;
   font-weight: bold;
   text-align: center;
   color: rgb(65, 64, 64);
}
.title2{
   margin-top:2%;
   font-size: large;
   font-weight: bold;
   color: rgb(65, 64, 64);
   
}
.title3 {
    margin-top:1%;
    margin-left: 5%;
}
.btn{
    float: right;
    width: 160px;
}
.btn1 {
    float: right;
    width: 150px;
    border-color: #ffc727; 
    background-color: white ;
    color: #1A5276;
}
.btn1:hover {
    background-color: #1A5276;
    color: #ffc727;
}
input{
    border-left: 5px solid #ffc727; 
}