<div class="container" *ngIf="showAdminBoard">
    <hr class="hr">
    <h2 class="text-center">LISTE DES JOUEURS</h2>
    <hr class="hr">
    <br><br>
    <div class="form-group">
        <input type="text" class="form-control" style="border-left: 5px solid #1A5276; border-color: #1A5276;" placeholder="Chercher" [(ngModel)]="term">
    </div>
    <div *ngFor="let equipe of equipes">
        <div class="row">
        <img class=" logo" [src]=equipe.retrievedLogo>
        <h5 class="nomEquipe">{{equipe.nom}}</h5>
    </div>
        <div class="row">
            <div class="card" *ngFor="let joueur of equipe.joueurs  | filter:term ">
                <img class="card-img-top imageJoueur" *ngIf="joueur.idImage==1" [src]=joueur.retrievedImage>
                <img class="card-img-top imageJoueur" *ngIf="joueur.idImage==0" src="../../../../assets/profil.png">
                <div class="card-body">
                    <h5 class="card-title">{{joueur.nom}} {{joueur.prenom}}</h5>
                    <p class="card-text">{{joueur.poste}}</p>
                    <div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="edit" (click)="openModal(editJoueurModal, joueur)"> <i class="fa fa-edit"
                                aria-hidden="true"></i></div>
                        <div (click)="supprimer(joueur.id,joueur.id_equipe)" class="trash"> <i class="fa fa-trash"
                                aria-hidden="true"></i></div>
                    </div>
                </div>

                <ng-template #editJoueurModal let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="editJoueurForm">MODIFIER JOUEUR</h5>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="editJoueurForm" (ngSubmit)="onSubmit(joueur.id)">
                            <div class="form-group row">
                                <label for="nom" class="col-sm-4 col-form-label">Nom : </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="nom" id="nom">
                                    <div *ngIf="nom?.touched">
                                        <small *ngIf="nom?.errors?.required" class="text-danger">Ce champ est
                                            obligatoire</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="prenom" class="col-sm-4 col-form-label">Prénom : </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="prenom" id="prenom">
                                    <div *ngIf="prenom?.touched">
                                        <small *ngIf="prenom?.errors?.required" class="text-danger">Ce champ est
                                            obligatoire</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-groupe row">
                                <label for="poste" class="lab" class="col-sm-4 col-form-label">Poste :</label>
                                <div class="col-sm-8">
                                    <select class=" form-select " name="poste" id="poste" formControlName="poste"
                                        class="form-control" (change)="selectChangePoste($event)">
                                        <option>Choisir un poste</option>
                                        <option value="Attaquant">Attaquant</option>
                                        <option value="Défenseur">Défenseur</option>
                                        <option value="Milieu de terrain">Milieu de terrain</option>
                                        <option value="Gardient de but">Gardient de but</option>
                                    </select>
                                    <div *ngIf="poste?.touched">
                                        <small *ngIf="poste?.errors?.required" class="text-danger">Ce champ est
                                            obligatoire</small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-groupe row">
                                <label for="equipe" class="lab" class="col-sm-4 col-form-label">Equipe :</label>
                                <div class="col-sm-8">
                                    <select class="form-select " name="equipe" id="equipe" formControlName="equipe"
                                        class="form-control" (change)="selectChangeEquipe($event)">
                                        <option disabled>Choisir un equipe</option>
                                        <option value="{{equipe.id}}" *ngFor="let equipe of equipes">{{equipe.nom}}
                                        </option>
                                    </select>
                                    <div *ngIf="equipe?.touched">
                                        <small *ngIf="equipe?.errors?.required" class="text-danger">Ce champ est
                                            obligatoire</small>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn1">ENREGISTRER</button>
                                <button type="button" class="btn btn-danger" (click)="modal.dismiss()">FERMER</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </div>
        </div>
        <br><br>
    </div>
</div>
<br>
<br>
<div *ngIf="!showAdminBoard" >
    <!-- <app-page404></app-page404> -->
    
    <meta http-equiv="refresh" content="0; url=http://localhost:4200/Page404">
  </div>
  