.card-body{
    text-align: right; 
    color: #006d4b;
     margin-top: 50px;
      font-size: small;
}

.card{
    background-repeat: no-repeat;
    height: 200px;
    background-size: 100%;
}

.idB{
    text-decoration:none;
     color:black;
}

.col-sm-6{
    align-content: center;
     padding: 50px 30px 30px 10px;
}