<div class="col-md-6" >
    <form>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="code">Votre code :</label>
                    <input type="text" name="code" id="code" formControlName="code" class="form-control">
                <!--  <div *ngIf=" code?.touched && code?.invalid">
                        <small *ngIf="code?.errors?.required" class="text-danger">Le code est requis<br></small>
                    </div>-->
                </div>       
            </div>
    
            <div class="form-row">
                <div class="form-group col-6">
                <input type="submit"value="Confirmer"  class="btn btn-primary">
                </div>
            </div>
    </form>
    </div>
    