.text-center{
        color:#1A5276;
        font-family: "Gill Sans", sans-serif;
        font-weight: bold;
        border-color: #ffc727;
}
 .btn {
        float: right;
        width: 150px;
        border-color: white; 
        background-color: white ;
        color: #1A5276;
}
.bt2 {
        float: right;
        width: 150px;
        border-color: #ffc727; 
        background-color: white ;
        color: #1A5276;
}
.bt2:hover {
        background-color: #1A5276;
        color: #ffc727;
}
.col-md-6 {
        left: 25%;
        right: 25%;
        margin-top: 60px;
}
input {
        border-left: 5px solid #ffc727;
}
.alert-danger {
        margin-top:2%;
}
.text{
        color:#ffc727;
        font-family: "Gill Sans", sans-serif;
        font-weight: bold;
        text-align: center;
}
.lab {
        font-weight: bold;
}