<div class="container" *ngIf="currentUser; else loggedOut" style="margin-top: 50px;">
  <header class="jumbotron">
    <h3>
     Bienvenue <strong>{{ currentUser.username }}</strong> sur votre espace personnel.
    </h3>
  </header>
  <div class="p-3 mb-2 bg-light text-dark" >

    <strong>Nom :</strong>
    <ul>
    <li>
      {{User.nom}}
  </li> 
</ul>


    <strong>Prénom :</strong> 
    <ul>
    <li>
        {{User.prenom}}
    </li> 
  </ul> 
 
    <strong>Date de naissance :</strong>
    <ul>   
    <li>
      {{User.dateN}}
  </li> 
  </ul>
 

  <strong>Roles :</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
