.jumbotron {
    background-color:whitesmoke;
    font-family: "Gill Sans", sans-serif;
    color: #1589FF; 
    font-weight: bold;
}
.modal-title {
    color: #1589FF; 
}

.p-3 {
    background-color: #1589ff; 
    color: white; 
}

.btn {
    float: right;
    margin-top: -3%;
    font-weight: bold;
}
